[SddmGreeterTheme]
Name=Void
Description=Minimal lockscreen with animated password reveal
Author=void
Type=sddm-theme
Version=1.0
MainScript=Main.qml
ConfigFile=theme.conf
Theme-API=2.0
QtVersion=6
